/*------------------------------------*\
    #Animations
\*------------------------------------*/

.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.delay {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@for $i from 1 through 3 {
	.dots:nth-of-type(#{$i}) {
		-webkit-animation-delay: $i * 0.35s;
		animation-delay: $i * 0.35s;
	}
}

.dots {
	color: #FFF;
	font-size: 40px;
	line-height: .5;

	opacity: 0;
	-webkit-animation: dot 2.5s 1.7s ease-in-out infinite;
	-moz-animation: dot 2.5s 1.7s ease-in-out infinite;
	-o-animation: dot 2.5s 1.7s ease-in-out infinite;
	animation: dot 2.5s 1.7s ease-in-out infinite;
}

@-moz-keyframes dot {
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes dot {
	50% {
		opacity: 1;
	}
}

@keyframes dot {
	50% {
		opacity: 1;
	}
}










