/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: 'Source Sans Pro', sans-serif;
$secondary: 'Source Sans Pro', sans-serif;


/* Colours */
$black: #394042;
$main-color: #555;
$highlight-color: #6b635b;
$dark-grey: #394042;


/* Other */
@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin animate($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
	transition: $time;
}


/* Import */
/* @import 'grid'; */
/* @import 'retina'; */

$max: 1400px;

$bck: url('../img/09.jpg')
			url('../img/06.jpg')
			url('../img/10.jpg');

$colours: #6a635a #323333 #ac9558;




/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	font-size: 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

body {
	background: #eee;
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrap {
	background-color: #fbfbfb;
	box-shadow: 2px 4px 14px rgba(0,0,0,0.05);
	margin: 0 auto;
	max-width: $max;
	min-height: 100%;
	position: relative;
	width: 100%;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}





/*------------------------------------*\
    #Main_Style
\*------------------------------------*/

header {
	background: $black url('../img/01.jpg') no-repeat center;
	background-size: cover;
	padding: 220px 0;

	h1 {
		color: #222;
		text-align: center;
	}
}

nav {
	background: #FFF;
	box-shadow: 2px 4px 14px rgba(0,0,0,0.05);
	padding: 13px 0;
	text-align: right;
	width: 100%;
  z-index: 999;

  .navbar {
  	margin: 0 auto;
  	max-width: 1000px;
  }

  a {
  	padding: 8px;
  }
}

footer {
	background: $highlight-color;
	color: #FFF;
	font: 400 14px/1.8 $secondary;
	padding: 20px 0;
	text-align: center;
}





/*------------------------------------*\
    #Element_Style
\*------------------------------------*/

nav {
	background: #FFF;
	box-shadow: 2px 4px 14px rgba(0,0,0,0.05);
	padding: 13px 0;
	text-align: right;
	width: 100%;
  z-index: 999;

  .navbar {
  	margin: 0 auto;
  	max-width: 1000px;
  }

  a {
  	padding: 8px;
  }
}

.statement {
	background: $highlight-color;
	padding: 80px 30px;
	width: 100%;

	h1, p {
		color: #FFF;
		margin: 0 auto;
		max-width: 1000px;
	}

	h1 {
		padding-bottom: 30px;
	}
}

@for $i from 1 through length($colours) {
	.container-#{$i} {
		background-color: nth($colours, $i);
	}
}

[class*='container-'] {

	h1, p {
		color: #FFF;
	}
}

[class*='col-'] {
	padding: 80px 30px;

	h1 {
		padding-bottom: 30px;
	}

	h1, p {
		margin: 0 auto;
		max-width: 360px;
	}
}

.full {
	margin: 0 auto;
	max-width: 700px;
	padding: 100px 30px;

	h1, p:last-of-type {
		text-align: center;
	}
}

.image {
	background: no-repeat url('../img/08.jpg');
	background-color: $highlight-color;
	background-size: cover;
	padding: 120px 0;

	h1 {
		color: #FFF;
		text-align: center;
	}
}

@for $i from 1 through length($bck) {
	section:nth-of-type(#{$i}) .image-#{$i} {
		background: no-repeat center nth($bck, $i);
		background-size: cover;
		padding: 0;
	}
}




/*------------------------------------*\
    #Typography
\*------------------------------------*/

h1 {
	color: $highlight-color;
	font: 400 18px/1 $primary;
	text-align: left;
	text-transform: uppercase;

	span:nth-of-type(1) {
		font-size: 22px;
	}

	span:nth-of-type(2) {
		font-size: 30px;
		font-weight: 700;
	}
}

p, a {
	color: $highlight-color;
	font: 400 14px/1.8 $secondary;
}

a {
	text-decoration: none;
}

.split {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	margin: 50px auto;
	max-width: 340px;
	padding-bottom: 16px;
}






/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width: 940px) {
	.grid {
		overflow: hidden;
		width: 100%;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	[class*='col-'] {
		width: 50%;

		h1 {
			text-align: center;
		}
	}

	.col-R {
		float: right;
	}

	.col-L {
		float: left;
	}
}

@media only screen and (min-width: 640px) {
	.split {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 28px;
		-moz-column-gap: 28px;
		column-gap: 28px;
		max-width: 640px;
	}
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';






